AppEngineStandard/front-end/credentials
AppEngineFlexible/front-end/credentials

AppEngineStandard/back-end/credentials
AppEngineStandard/back-end/__pycache__
AppEngineStandard/back-end/*.pyc

AppEngineFlexible/back-end/credentials
AppEngineFlexible/back-end/__pycache__
AppEngineFlexible/back-end/*.pyc

/generator
/config

# compiled output
AppEngineStandard/front-end/dist
AppEngineFlexible/front-end/dist
AppEngineStandard/front-end/tmp
AppEngineFlexible/front-end/tmp

# dependencies
AppEngineStandard/front-end/node_modules
AppEngineFlexible/front-end/node_modules

# IDE - VSCode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
AppEngineStandard/front-end/e2e/*.js
AppEngineFlexible/front-end/e2e/*.js
AppEngineStandard/front-end/e2e/*.map
AppEngineFlexible/front-end/e2e/*.map