<div class="row">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<input id="name"  type="text"  class="form-control" formControlName="name">
		</div>
		<div class="form-group">
			<input id="upload" type="file" formControlName="file">
		</div>
		<div *ngIf="success != null" class="alert alert-success" role="alert">
			{{success}}
		</div>
		<div *ngIf="error != null" class="alert alert-danger" role="alert">
			{{error}}
		</div>
		<button type="submit" [disabled]="form.invalid || uploading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-3x fa-fw" *ngIf="uploading"></i></button>
	</form>
</div>